In [8]:
x = 0
y = 5

if x == y:
   print("yes1")

if x > y:
   print("yes2")

if x < y:
   print("yes3")

if x >= y:
   print("yes4")

if x <= y:
   print("yes5")

if x == y:
   print("yes6")

if "aul" in ["grault"]:
   print("yes7")

if "quux" in ["foo", "bar", "baz"]:
   print("yes8")

if x:
   print("yes9")

if y:
   print("yes10")

yes3
yes5
yes10

In [12]:
if "foo" in ["foo", "bar", "baz"]:
   print("the ourter condition is true")

   if 10 > 20:
      print("the inner 1 condition is true")

   print("here is between inner condition 1 and inner condition 2")

   if 10 < 20:
      print("the inner 2 condition is true")

   print("end of the inner condition")

print("after outer condition")

the ourter condition is true
here is between inner condition 1 and inner condition 2
the inner 2 condition is true
end of the inner condition
after outer condition

In [24]:
x = 20

if x < 50:
    print("(first suite)")
    print("x is small")
else:
    print("(second suite)")
    print("x is large")

(first suite)
x is small

In [15]:
x = 120

if x < 50:
    print("(first suite)")
    print("x is small")
else:
    print("(second suite)")
    print("x is large")

(second suite)
x is large

In [19]:
hargabuku = 20000
hargamajalah = 5000
uang = 100000

if uang > hargabuku:
   print("beli buku")
elif uang > hargamajalah:
   print("beli majalah")
else:
   print("uang tidak cukup")

beli buku

In [25]:
name = "Hacktiv8"

if name == "Fred":
   print("Hello Fred")
elif name == "Xander":
     print("Hello Xander")
elif name == "Hacktiv8":
     print("Hello Hacktiv8")
elif name == "Arnold":
     print("Hello Arnold")
else:
     print("I don't know who you are!")

Hello Hacktiv8

In [26]:
if "a" in "bar":
   print("foo")
elif 1/0:
   print("This won't happen")
elif var:
   print("This won't either")

foo

In [27]:
if "f" in "foo": print("1"); print("2"); print("3")

1
2
3

In [28]:
if "z" in "foo": print("1"); print("2"); print("3")

In [29]:
x = 2

if x == 1: print("foo"); print("bar"); print("baz")
elif x == 2: print("qux"); print("quux")
else: print("corge"); print("grault")

qux
quux

In [30]:
x = 3

if x == 1: print("foo"); print("bar"); print("baz")
elif x==2: print("qux"); print("quux")
else: print("corge"); print("grault")

corge
grault

In [31]:
x = 3

if x == 1:
   print("foo")
   print("bar")
   print("baz")
elif x == 2:
   print("qux")
   print("quux")
else:
   print("corge")
   print("grault")

corge
grault

In [36]:
raining = True
print("lets go to the", "beach" if not raining else "library")

lets go to the library

In [37]:
age = 12
s = "teen" if age > 21 else 'adult'
s

'adult'

In [42]:
"yes" if ("qux" in ["foo", "bar", "baz"]) else "no"

'no'

In [46]:
a = 1
b = 2

if a > b:
   m = a
   print(f"m(a) is {m}")
else:
   m = b
   print(f"m(b) is {m}")

m(b) is 2

In [50]:
if True:
   pass
print("foo")

foo

In [53]:
n = 5

while n >= 0:
      n-= 1
      print(n)

4
3
2
1
0
-1

In [56]:
i = 1

while i < 6:
      print(i)
      i += 1

1
2
3
4
5

In [59]:
i = 1

while i<6:
      print(i)
      i+=1
      if i == 3:
         print("got break")
         break
print("loop ended")

1
2
got break
loop ended

In [68]:
n = 1

while n < 10:
      print(f"this is print iteration a, {n}")
      n += 1
      if n==2:
         continue
      print(f"this is print iteration b, {n}")
print("loop ended")

this is print iteration a, 1
this is print iteration a, 2
this is print iteration b, 3
this is print iteration a, 3
this is print iteration b, 4
this is print iteration a, 4
this is print iteration b, 5
this is print iteration a, 5
this is print iteration b, 6
this is print iteration a, 6
this is print iteration b, 7
this is print iteration a, 7
this is print iteration b, 8
this is print iteration a, 8
this is print iteration b, 9
this is print iteration a, 9
this is print iteration b, 10
loop ended

In [70]:
n = 5
while n>0:
  n -= 1
  print(n)
else:
  print("loop done")

4
3
2
1
0
loop done

In [71]:
n = 5

while n>0:
  n -= 1
  print(n)
  if n == 2:
     break
else:
     print("loop done.")

4
3
2

In [ ]:
while True:
      print("foo")

In [78]:
age = 12

gender = "M"

if age < 18:
   if gender == "M":
      print("son")
   else:
      print("daughter")
elif age >= 18 and age < 65:
    if gender == "M":
       print("Father")
    else:
       print("mother")
else:
     if gender == "M":
        print("grandfather")
     else:
        print("grandmother")

son

In [84]:
a = ["foo", "bar", "bax"]

while len(a):
      print("before pop")
      print(a.pop(0))
      print("after pop")

      b = ["baz", "qux", "quux"]

      while len(b):
            print(">", b.pop(0))

before pop
foo
after pop
> baz
> qux
> quux
before pop
bar
after pop
> baz
> qux
> quux
before pop
bax
after pop
> baz
> qux
> quux

In [87]:
n = 5

while n > 0:
      n -= 1
      print(n)

4
3
2
1
0

In [90]:
a = ["foo", "bar", "baz"]
for i in a:
    print(i)

foo
bar
baz

In [98]:
d = {'foo':1, "bar":2, "baz":3}
for k,n in d.items():
    print(k)

foo
bar
baz

In [103]:
d = {'foo':1, "bar":2, "baz":3}
for k in d:
    print(d[k])

1
2
3

In [108]:
x = range(5)

for n in x:
    print(n)

0
1
2
3
4

In [111]:
for i in ["foo", "bar", "baz", "qux"]:
    if "b" in i:
       continue
    print(i)

foo
qux

In [113]:
for i  in ["foo", "bar", "baz", "qux"]:
    print(i)
else:
    print("Done.")

foo
bar
baz
qux
Done.

In [115]:
for i in ["foo", "bar", "baz", "qux"]:
    if i == "bar":
       break
    print(i)
else:
    print("Done.")

foo

In [118]:
temp = input()
degree = int(temp[:-1])
i_convertion = temp[-1]

if i_convertion == "C":
   result= int(round((9 * degree)/5 + 32))
   print(f"temperaturnya adalah {result} derajat Celcius")
elif i_convertion == "F":
   result = int(round((degree-32) * 5 / 9))
   print(f"temperaturnya adalah {result} derajat Fahrenheit")
else:
   print("Masukan input yang benar")

45F
temperaturnya adalah 7 derajat Fahrenheit

In [120]:
while True:
  msg = input("Ketikan karakter: ").lower()
  print(msg)
  if msg == "stop":
     break

Ketikan karakter: condition break
condition break
Ketikan karakter: stop
stop