#Part 1

###CRUD List and Dict

In [ ]:
a = [1,2,3,4]
b = dict({"a":1, "b":2, "c":3})
a1 = a.copy()
b1 = b.copy()

In [ ]:
print("the list:",a1) #read
a1.append(1) #add/create new components for list
print("the list after add/create new components:", a1)
a1[2] = 10 #update list
print("the list after got an update:", a1)
a1.pop(0)#delete list index 0
print("The list after the component got deleted", a1)

the list: [1, 2, 3, 4]
the list after add/create new components: [1, 2, 3, 4, 1]
the list after got an update: [1, 2, 10, 4, 1]
The list after the component got deleted [2, 10, 4, 1]

In [ ]:
print("the dictionary:", b1)
b1["d"] = 4 #add new components into dictionary
print("the dictionary after added new component:", b1)
b1["a"] = 2
print("the dictionary after got an update:", b1)
del b1["d"]
print("the dictionary after one components got deleted:", b1)

the dictionary: {'a': 1, 'b': 2, 'c': 3}
the dictionary after added new component: {'a': 1, 'b': 2, 'c': 3, 'd': 4}
the dictionary after got an update: {'a': 2, 'b': 2, 'c': 3, 'd': 4}
the dictionary after one components got deleted: {'a': 2, 'b': 2, 'c': 3}

## if

In [ ]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

if num1 > num2:
   print(f"{num1} is greater.")
elif num2 > num1:
   print(f"{num2} is greater.")
else:
   print("Both numbers are equal")

Enter the first number: 1
Enter the second number: 2
2.0 is greater.

In [ ]:
year = int(input("Enter a year: "))
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

Enter a year: 2024
2024 is a leap year.

##while

In [ ]:
total = 0
num = 2

while num <= 100:
      total += num
      num   += 2

print("Sum of even numbers from 1 to 100", total)

Sum of even numbers from 1 to 100 2550

In [ ]:
password = "secret"

while True:
      user_input = input("Enter the password: ")
      if user_input == password:
          print("Access granted!")
          break
      else:
          print("Deleting System32.")

Enter the password: 1
Deleting System32.
Enter the password: secret
Access granted!

##for

In [ ]:
num = int(input("Enter a number: "))

for i in range(1,11):
    print(f"{num}x{i} = {num * i}")

Enter a number: 2
2x1 = 2
2x2 = 4
2x3 = 6
2x4 = 8
2x5 = 10
2x6 = 12
2x7 = 14
2x8 = 16
2x9 = 18
2x10 = 20

In [ ]:
text = input("enter a string: ")
text = text.lower()
vowel_count = 0

for char in text:
    if char in "aiueo":
       vowel_count += 1

print(f"Number of vowels in the string: {vowel_count}")

enter a string: arya sangga buana
Number of vowels in the string: 7

##function

In [ ]:
def sapa(nama):
    print(f"Halo, {nama}")

sapa("taufik")

Halo, taufik

In [ ]:
def kuadrat(angka):
    return angka**2

hasil = kuadrat(5000)
print(hasil)

25000000

In [ ]:
def hitung_luas_persegi(panjang=1.0, lebar=1.0):
    return panjang*lebar

luas = hitung_luas_persegi(4,3)
print("luas persegi panjangnya adalah", luas)

def bentuk_nama(nama_depan, nama_belakang):
    return f"{nama_depan} {nama_belakang}"

nama = bentuk_nama("Kevin", "Batagor")
print(nama)

luas persegi panjangnya adalah 12
Kevin Batagor

In [ ]:
def konv_fahrenheit_ke_celcius(fahrenheit):
    celcius = (fahrenheit-32) * 9/5
    return celcius

suhu_celcius = konv_fahrenheit_ke_celcius(98.6)
print("Konversi suhu fahrenheit ke suhu_celciusnya adalah:",suhu_celcius, "C")


def hitung_pangkat(angka, pangkat):
    hasil = 1
    for i in range(pangkat):
        hasil *= angka
    return hasil

pangkat = hitung_pangkat(2,3)
print("hasil perhitungan pangkatnya adalah:",pangkat)

Konversi suhu fahrenheit ke suhu_celciusnya adalah: 119.88 C
hasil perhitungan pangkatnya adalah: 8

##Module

In [ ]:
#Pertama tama tambahkan dulu path dari directory yang akan dipakai
import sys
sys.path.append("/content/") #ubah "/content/" menjadi directory anda
sys.path

['/content',
 '/env/python',
 '/usr/lib/python310.zip',
 '/usr/lib/python3.10',
 '/usr/lib/python3.10/lib-dynload',
 '',
 '/usr/local/lib/python3.10/dist-packages',
 '/usr/lib/python3/dist-packages',
 '/usr/local/lib/python3.10/dist-packages/IPython/extensions',
 '/root/.ipython',
 '/content/',
 '/content/']

In [ ]:
import main_arya

message = main_arya.greet("Arya")
print(message)

radius = 5
area = main_arya.pi * (radius**2)
print(f"Luas lingkaran dengan radius {radius} adalah {area:2f}")

Hello, Arya
Luas lingkaran dengan radius 5 adalah 78.539816

#Python Script

In [ ]:
def tambah(x,y):
    return x+y

def kurang(x,y):
    return x-y

def kali(x,y):
    return x*y

def bagi(x,y):
    if y==0:
       return "tidak bisa dibagi oleh 0"
    return x/y

while True:
      print("Pilih Operasi:")
      print("1. Tambah")
      print("2. Kurang")
      print("3. Kali")
      print("4. Bagi")
      print("5. Keluar")

      pilihan = input("Masukan nomor operasi (1/2/3/4/5): ")

      if pilihan == "5":
         print("Keluar dari kalkulator")
         break

      angka1 = float(input("Masukan angka pertama: "))
      angka2 = float(input("Masukan angka kedua: "))

      if pilihan == "1":
         print("Hasil:", tambah(angka1, angka2))
      elif pilihan == "2":
         print("Hasil:", kurang(angka1, angka2))
      elif pilihan == "3":
         print("Hasil:", kali(angka1, angka2))
      elif pilihan == "4":
         print("Hasil:", bagi(angka1, angka2))
      else:
         print("Pilihan tidak valid")
         break

Pilih Operasi:
1. Tambah
2. Kurang
3. Kali
4. Bagi
5. Keluar
Masukan nomor operasi (1/2/3/4/5): 6
Masukan angka pertama: 1
Masukan angka kedua: 2
Pilihan tidak valid

In [47]:
shopping_list= []

def tambah_item(item):
    shopping_list.append(item)
    print(f"{item} telah ditambahkan ke daftar belanja.")

def hapus_item(item):
    if item in shopping_list:
       shopping_list.remove(item)
       print(f"{item} telah dihapus dari daftar belanja.")
    else:
       print(f"{item} tidak ditemukan dalam daftar belanja" )

def tampilkan_daftar():
    print("Daftar Belanja")
    for item in shopping_list:
        print("-", item)

while True:
      print('Apa yang ingin anda lakukan?')
      print('1. tambah item ke daftar belanja')
      print('2. Hapus item dari daftar belanja')
      print('3. Tampilkan daftar belanja')
      print('4. Keluar')

      pilihan = input("Pilih Tindakan (1/2/3/4): ")

      if pilihan == "1":
         item = input("Masukan item yang ingin anda tambahkan")
         tambah_item(item)
      elif pilihan == "2":
         item = input("Masukan item yang ingin dihapus")
         hapus_item(item)
      elif pilihan == "3":
         tampilkan_daftar()
      elif pilihan == "4":
         print("Keluar dari daftar belanja")
         break
      else:
         print("Pilihan tidak valid")

Apa yang ingin anda lakukan?
1. tambah item ke daftar belanja
2. Hapus item dari daftar belanja
3. Tampilkan daftar belanja
4. Keluar
Pilih Tindakan (1/2/3/4): 1
Masukan item yang ingin anda tambahkantaufik
taufik telah ditambahkan ke daftar belanja.
Apa yang ingin anda lakukan?
1. tambah item ke daftar belanja
2. Hapus item dari daftar belanja
3. Tampilkan daftar belanja
4. Keluar
Pilih Tindakan (1/2/3/4): 3
Daftar Belanja
- taufik
Apa yang ingin anda lakukan?
1. tambah item ke daftar belanja
2. Hapus item dari daftar belanja
3. Tampilkan daftar belanja
4. Keluar
Pilih Tindakan (1/2/3/4): 2
Masukan item yang ingin dihapustaufik
taufik telah dihapus dari daftar belanja.
Apa yang ingin anda lakukan?
1. tambah item ke daftar belanja
2. Hapus item dari daftar belanja
3. Tampilkan daftar belanja
4. Keluar
Pilih Tindakan (1/2/3/4): 3
Daftar Belanja
Apa yang ingin anda lakukan?
1. tambah item ke daftar belanja
2. Hapus item dari daftar belanja
3. Tampilkan daftar belanja
4. Keluar
Pilih Tindakan (1/2/3/4): 4
Keluar dari daftar belanja

In [42]:
def hitung_bmi(berat, tinggi):
    tinggi_m = tinggi/100
    bmi = berat/(tinggi_m**2)
    return bmi

def kategori_bmi(bmi):
    if bmi < 18.5:
       return "Kurus"
    elif 18.5 <= bmi < 24.9:
       return "Normal"
    elif 25 <= bmi < 29.9:
      return "Gemuk"
    else:
      return "Obesitas"

berat = float(input("Masukan berat badan (kg): "))
tinggi = float(input("Masukan tinggi badan (cm): "))
bmi = hitung_bmi(berat, tinggi)
kategori = kategori_bmi(bmi)

print(f"BMI Anda adalah {bmi:.2f} ({kategori})")

Masukan berat badan (kg): 2
Masukan tinggi badan (cm): 100
BMI Anda adalah 2.00 (Kurus)

In [44]:
teks = """ ini adalah contoh teks.
Teks ini digunakan untuk latihan pencarian kata."""

kata_cari = input("Masukan kata yang ingin anda cari: ")

if kata_cari in teks:
   print(f"'{kata_cari}' ditemukan dalam teks.")
else:
   print(f"'{kata_cari}' tidak ditemukan dalam teks.")

Masukan kata yang ingin anda cari: okdaokods
'okdaokods' tidak ditemukan dalam teks.

In [46]:
def konversi_mata_uang(jumlah, nilai_tukar):
    return jumlah * nilai_tukar

nilai_tukar_usd_ke_idr = 14500

jumlah_usd = float(input("Masukan jumlah dalam USD: "))
jumlah_idr = konversi_mata_uang(jumlah_usd, nilai_tukar_usd_ke_idr)

print(f"{jumlah_usd} USD setara dengan {jumlah_idr} IDR.")

Masukan jumlah dalam USD: 1
1.0 USD setara dengan 14500.0 IDR.

#Python Read Write

In [52]:
import pandas as pd

def baca_data_excel(nama_file):
    df = pd.read_excel(nama_file)
    return df

def tulis_data_excel(nama_file, df):
    df.to_excel(nama_file, index = False)

def main():
    nama_file = "produk.xlsx"
    produk = baca_data_excel(nama_file)

    print("Data Produk:")
    print(produk)

    tambah_produk = input("Tambah produk baru? (y/n): ")
    if tambah_produk.lower() == "y":
       nama_produk = input("Nama Produk: ")
       harga_produk = input("Harga produk (IDR): ")
       stok_produk = input("Stok produk: ")

       produk_baru = {"Nama Produk" : nama_produk, "Harga_produk": harga_produk, "Stock": stok_produk}
       produk = produk.append(produk_baru, ignore_index = True)


if __name__=="__main__":
   main()

Data Produk:
Empty DataFrame
Columns: []
Index: []
Tambah produk baru? (y/n): y
Nama Produk: maul
Harga produk (IDR): 1000
Stok produk: 1

<ipython-input-52-73c05cbf454e>:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  produk = produk.append(produk_baru, ignore_index = True)

In [74]:
import sqlite3

def create_table():
    connection = sqlite3.connect('produk.db')
    cursor = connection.cursor()
    create_table_sql = '''
    CREATE TABLE IF NOT EXISTS produk (
        id INTEGER PRIMARY KEY AUTOINCREMENT,
        nama_produk TEXT NOT NULL,
        harga INTEGER NOT NULL,
        stok INTEGER NOT NULL
    );
    '''
    cursor.execute(create_table_sql)
    connection.commit()
    connection.close()

def baca_data_sqlite(database_file):
    connection = sqlite3.connect(database_file)
    cursor = connection.cursor()
    cursor.execute("SELECT * FROM produk")
    data = cursor.fetchall()
    connection.close()
    return data

def tambah_data_sqlite(database_file, nama_produk, harga, stok):
    connection = sqlite3.connect(database_file)
    cursor = connection.cursor()
    cursor.execute("INSERT INTO produk (nama_produk, harga, stok) VALUES (?, ?, ?)",
                   (nama_produk, harga, stok))
    connection.commit()
    connection.close()

def main():
    database_file = 'produk.db'
    create_table()
    produk = baca_data_sqlite(database_file)

    print("Data Produk: ")
    for item in produk:
        print(f'{item[1]}: {item[2]} IDR, Stok: {item[3]}')

    tambah_produk = input("Tambah produk baru? (y/n): ")
    if tambah_produk.lower() == 'y':
        nama_produk = input("Nama produk: ")
        harga_produk = input("Harga produk (IDR): ")
        stok_produk = input("Stok produk: ")

        tambah_data_sqlite(database_file, nama_produk, harga_produk, stok_produk)
        print("Produk berhasil ditambahkan dan disimpan.")

if __name__ == "__main__":
    main()

Data Produk:
Tambah produk baru? (y/n): y
Nama produk: maul
Harga produk (IDR): 1000
Stok produk: 100
Produk berhasil ditambahkan dan disimpan.

In [72]:
import csv

def baca_data_csv(nama_file):
    data = []
    with open(nama_file, mode = 'r') as file:
         csv_reader = csv.DictReader(file)
         for row in csv_reader:
             data.append(row)
    return data

def tulis_data_csv(nama_file, data):
    with open(nama_file, mode="w", newline="") as file:
         fieldnames = data[0].keys()
         writer = csv.DictWriter(file, fieldnames = fieldnames)
         writer.writeheader()
         writer.writerows(data)

def main():
    nama_file = "produk.csv"
    produk = baca_data_csv(nama_file)
    print("Data Produk: ")
    for item in produk:
        print(f"{item['nama_produk']}: {item['harga']} IDR, Stok: {item['stok']}")

    tambah_produk = input("Tambah produk baru? (y/n): ")
    if tambah_produk.lower() == "y":
       nama_produk = input("Nama Produk: ")
       harga_produk = input("Harga produk: ")
       stok_produk = input("Stok produk: ")
       produk_baru = {"Nama Produk" : nama_produk, "Harga" : harga_produk, "Stok": stok_produk}
       produk.append(produk_baru)

       tulis_data_csv(nama_file, produk)
       print("Produk berhasil ditambahkan dan disimpan")

if __name__ == "__main__":
   main()

Data Produk:
Tambah produk baru? (y/n): y
Nama Produk: maul
Harga produk: 100
Stok produk: 1
Produk berhasil ditambahkan dan disimpan